{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block banner-title-content %}
    <i class="fa fa-search fa-2x" aria-hidden="true"></i><br>Look up a contract.
{% endblock %}

{% block content %}
    <div class="info-space">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <input class="btn btn-success btn-lg" type="submit" value="Find" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
