{% extends 'base.html' %}

{% block banner-title-content %}
    Rules
{% endblock %}

{% block content %}
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                <h2> Rules of the Order:</h2>
                There are a few rules that the charity drive follows to keep things fun 
                and non-threatening:<p></p>

                <ul><li>
                The Accuser Shalt NOT be Anonymous! All must be accountable for their 
                actions. </li>

                <li>All Defendants shall be posessing of a sense of 
                humor: Those who refuse or 
                otherwise freak out shall be left alone. </li>

                <li>A defendant may only be tried but ONCE a year: 
                Innocent or Guilty, those who have faced The Order are immune from further prosecution for the rest 
                of the charity drive. </li>

                <li>All funds raised by the Order of Pi are entirely for 
                charity: The Children's Health Foundation of Vancouver Island receives the majority of proceeds, while two dollars are donated to
                the Mustard Seed food bank for each pie ordered. </li>

                <li>The members of the Order of Pi will always conduct 
                themselves in a 
                respectful and humorous manner: No one shall be bullied, humiliated or 
                hurt by their actions, lest the offending monk be permanently stripped of 
                office and pied in the face forthwith!</li></ul>
            </div>
        </div>
    </div>
</div>
 <div class="banner banner-dark">
        <div class="container">
            <div class="row bg-txt">
                <div class="col-sm-8 col-sm-offset-2">
                <br>
                <h2>Common Misconceptions About the Order</h2><br>
                <h4>We pie people against their will</h4>

                <ul type="none"><li>
                Anyone slated for a pie in the face is first approached and given ample 
                opportunity to express their aversion to a pie in the face. Nobody gets 
                pied against their will: That would be assault.</li></ul>

                <h4>We throw pies through the air</h4>
                <ul type="none"><li>
                We have never thrown a pie at anyone: The pie is firmly but gently placed 
                into the face of the condemned.</li></ul>

                <h4>
                We waste perfectly good food</h4>
                <ul type="none"><li>
                The dubious food value of synthetic cream pies aside, the Order of Pi does 
                not encourage the throwing out of any used pies: We employ a pie catcher 
                lined with a hygenic plastic bag to catch all falling pie during the 
                execution, and this bag is given to the condemned to take home. Most 
                people won't admit it, but they do eat the pie later when no one is 
                looking.</li></ul>

                <h4>
                We pie people for revenge</h4>
                <ul type="none"><li>
                All prospective orders placed during the annual charity drive are 
                carefully screened to ensure that the Accuser is a friend of the person to 
                be pied, that this person posesses the sense of humor necessary to be 
                amused by the concept. We insist that the accuser provide us with charges 
                so that we can ensure that the motive for the pieing is fun and not spite. 
                Anonymous pieings and venomous or hurtful accusations are forbidden by the 
                laws of the Order of Pi, and any order that breaks this criteria is not 
                taken.</li></ul> 

                <h4>
                We play pranks at the expense of the public</h4>
                <ul type="none"><li>
                Ah... That would be UBC, not UVic. We've never figured out how to 
                dismantle Volkswagons like they can. We just raise money for the 
                children's hospital and a foundation for the physically and mentally 
                challenged, and leave the high rise acrobatics to them.</li></ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}