<footer class="footer">
    <div class="container">
        <p class="text-muted footer-title"><i class="fa fa-pie-chart" aria-hidden="true"></i> <span class="orderofpi-text">Order of Pi</span></p>
        <p class="text-muted">
             •
            <a href="{% url 'create_contract' %}">Accuse</a> •
            <a href="{% url 'volunteer_signup' %}">Volunteer</a> •
            <a href="{% url 'home' %}">About</a> •
            <a href="{% url 'ranks' %}">Ranks</a> •
            <a href="{% url 'rules' %}">Rules</a> •
        </p>
    </div>
</footer>